extends layout.pug
block content
  .main1
    .row
      .col-12(class="col-sm-12 col-md-6")
        .tresc
          h1 Co daje Bieganie
          p 
          |Bieganie jest ćwiczeniem o charakterze aerobowym (tlenowym)
          |– wzmacnia układ oddechowo- krążeniowy. Serce biegacza jest bardziej wydolne,
          |zwiększa się jego objętość, ciśnienie się normalizuje, puls obniża. Naczynia krwionośne stają się elastyczniejsze,
          |płuca sprawniejsze, przez to mózg jest lepiej dotleniony.
      .col-12(class="col-sm-12 col-md-6")
        .tresc
          h1 Odchudzanie
          p 
          |Bieganie daje najlepsze efekty w odchudzaniu ze wszystkich sportów aerobowych.
          |Podczas 60 minut biegu można spalić 900 kilokalorii – to wynik,
          |któremu może dorównywać jedynie squash (spala ok. 800 kcal na godzinę).
          |Idąc tym tropem, po miesiącu codziennego biegania spalimy… 27 tysięcy kilokalorii!
          |To z kolei przełoży się na utratę ok. 4 kilogramów (żeby schudnąć kilogram, trzeba spalić 7000 kcal).
          |Chyba każdy z nas chciałby uzyskać takie efekty w odchudzaniu.


  