extends layout.pug
block content
  .main1
    .row
      .col
        .tresc1
          h1 Bieganie
          p 
          |Bieganie to obok marszu, najbardziej naturalna dla człowieka forma aktywności.
          |I jedna z najzdrowszych! Bieganie dodaje energii, wzmacnia odporność, odchudza i działa... antydepresyjnie.
          |Bieganie jako dyscyplina sportowa było znane już w starożytności.
    .row
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Co znajdziesz na stronie
          p1 
          |Na stronie znajduje się mnóstwo informacji o bieganiu. znajdziesz tu powód dlaczego warto biegać i jak wpływa to na twoje zdrowie.
          |Znajdują się tu także informacje o najwybitniejszych biegaczach. A po zalogowaniu zyskasz dostęp do planów treningowych.
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          <img src="/images/UsainBolt.jpg" alt="Irena Szewińska" width="90%" height="300">
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Will Smith powiedział kiedyś że ... 
          p1
          |„Kluczem do życia jest bieganie i czytanie. Kiedy biegasz jest taki mały człowieczek,
          |który do Ciebie mówi: jestem zmęczony, zaraz wypluję swoje wnętrzności,
          |jestem tak bardzo zmęczony, nie dam rady biec dalej. I masz ochotę się poddać.
          |Kiedy nauczysz się pokonywać tego małego człowieczka,
          |gdy biegasz, nauczysz się, jak się nie poddawać, gdy rzeczy w Twoim życiu staną się naprawdę trudne. 
          |Bieganie to pierwszy klucz do życia."