extends layout.pug
block content
  .main1
    .row
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Poniedziałek
          p1 
          |- 10 minut truchtu 
          br
          |- Rozciąganie 
          br
          |- 6 przebieżek po 60 metrów 
          br
          |- 400 metrów truchtu
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Wtorek
          p1 
          |- 5 minut truchtu 
          br
          |- Rozciąganie 
          br
          |- 3 serie skip A,B,C po 40 metrów każdego skipu 
          br
          |- 400 metrów truchtu
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Środa
          p1 
          |- 10 minut truchtu 
          br
          |- Rozciąganie 
          br
          |- 10 x 100 metrów na 70% 2 minuty między każdą przebieżką 
          br
          |- 400 metrów truchtu
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Czwartek
          p1 
          |- 5 minut truchtu 
          br
          |- 5 x Przysiad ze sztangą 40 kg 
          br
          |- 5 x rwanie sztangi 30 kg 
          br
          |- 5 x rwanie sztangi 30 kg 
          br
          |- 5 x 20 metrów na 100% 2 minuty przerwy między sprintami 
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Piątek
          p1 
          |- 10 minut truchtu 
          br
          |- Rozciąganie 
          br
          |- 6 przebieżek po 60 metrów 
          br
          |- 400 metrów truchtu
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Sobota
          p1 
          |- 10 minut truchtu 
          br
          |- Rozciąganie 
          br
          |- Bieg z obciążeniem (Spadochron lub Opona) 6 x 50 metrów na 90% 3 minuty przerwy między sprintami 
          br
          |- 400 metrów truchtu
      .col-12(class="col-sm-12 col-md-4")
        .tresc
          h1 Niedziela
          p1 
          |- Wolne
          