extends layout.pug
block content
  .main1
    .row
      .col
        .tresc1
          h1 Jesteś niezalogowany 
          p 
          |Aby uzyskać dostęp do unkalnego planu treningowego dla biegaczy zaloguj się 