extends layout.pug
block content
  .main1
    .row
      .col-12(class=" col-sm-12 col-md-4")
        .tresc
          <img src="/images/UsainBolt.jpg" alt="Usain Bolt" width="90%" height="300">
      .col-12(class=" col-sm-12 col-md-8")
        .tresc
          h1 Usain Bolt 
          p 
            | Usain St. Leo Bolt (ur. 21 sierpnia 1986 w Sherwood Content, Trelawny) 
            | – jamajski lekkoatleta, sprinter, ośmiokrotny mistrz olimpijski z Pekinu,
            | Londynu oraz Rio de Janeiro, jedenastokrotny mistrz, dwukrotny wicemistrz
            | oraz brązowy medalista mistrzostw świata. Obecny rekordzista świata w sprincie na dystansie
            | 100 i 200 m. Mierzy 195 cm wzrostu, waży około 94 kg[1].
            | Dzięki swoim osiągnięciom i dominacji w rywalizacji sprinterskiej jest powszechnie uważany za najlepszego sprintera w historii
    .row
      .col-12(class=" col-sm-12 col-md-4")
        .tresc
          <img src="/images/irenaSzewińska.jpg" alt="Irena Szewińska" width="90%" height="300">
      .col-12(class=" col-sm-12 col-md-8")
        .tresc
          h1 Irena Szewińska
          p
            |Irena Kirszenstein-Szewińska[2] (ur. 24 maja 1946 w Leningradzie, zm. 29 czerwca 2018 w Warszawie) –
            |polska lekkoatletka specjalizująca się w biegach sprinterskich i skoku w dal,
            |a po zakończeniu kariery działaczka krajowych i międzynarodowych organizacji sportowych;
            |dama Orderu Orła Białego.
            |Należała do najbardziej utytułowanych polskich sportowców i najwybitniejszych lekkoatletek w historii:
            |stawała na podium na czterech kolejnych igrzyskach olimpijskich.
            |Siedmiokrotna medalistka igrzysk olimpijskich (3 medale złote, 2 srebrne i 2 brązowe) 
            |oraz szesnastokrotna medalistka mistrzostw Europy (10 medali na otwartym stadionie i 6 w hali)[3].
            |Wielokrotna reprezentantka Polski w meczach międzypaństwowych i Pucharze Europy[4].
            |W latach 1965–1979 zdobyła 24 medale mistrzostw Polski w biegu na 100 metrów, 200 metrów, 400 metrów,
            |w sztafecie 4 × 100 metrów oraz w skoku w dal[5].
            |W 1974 agencja prasowa United Press International wybrała ją najlepszą sportsmenką na świecie.
            |Czterokrotnie wybierana na najlepszego sportowca Polski w plebiscycie „Przeglądu Sportowego”
            |(w 1965, 1966, 1974 i 1976). W 2021 w specjalnym plebiscycie „Przeglądu Sportowego” została uznana za polskiego sportowca stulecia[6].